# Project
/data

# Python
*/__pycache__
__pycache__

# Poetry
poetry.lock

#Snakemake
.snakemake

# Jupyter Notebook
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/


